<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Michal Hojgr">

    <title>WannaWatch!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <div class="header">

        <div class="center">
          <div class="logo"></div>
          <div class="text">WannaWatch</div>
        </div>
      </div>
      <div class="search">
        <div class="center">
            <input type="text" name="search" placeholder="Hledat...">
	    <div class="hints">
	      <div id="search-load" class="hint-item hint-loading" style="display: none">
		<img src="<%= static_path(@conn, "/images/ajax_loader.gif") %>" />
	      </div>
	      
	      <div id="search-loaded"></div>
	      
	      <div style="clear: both"></div>
	    </div>
	</div>
      </div>
      <div class="content">
        <div class="center">
          <%= @inner %>
        </div>
      </div>
    </div>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
