body {
  background: #addefc;
}

.header {
  height: 150px;
  background: #87cefa;
}

.search {
  height: 50px;
}

.center {
  width: 800px;
  margin: 0 auto;
}

.header .logo {
  width: 88px;
  height: 128px;
  background: url('/images/popcorn.png') center;
  float: left;
  margin-left: 40px;
  margin-top: 10px;
}

.header .text {
  float: right;
  font-size: 100px;
  height: 150px;
  line-height: 150px;
  vertical-align: middle;

}

.search {
  background: #fafafa;
}

.hints {
    border: 1px solid #dedede;
    border-top: 0;
    position: absolute;
    z-index: 1;
}

.hints a {
    color: #00455C;
}

.hints a:hover {
    color: #666;
}

.hints a:hover .hint-item {
    background: #DBF6FF;
}

.hints .hint-item {
    border-top: 1px solid #dedede;
    height: 50px;
    width: 800px;
    background: white;
}

.hints .hint-item.item-secondary {
    height: 30px;
}

.hints .hint-item .poster {
    margin: 9px 5px 0 9px;
}

.hints .hint-item.item-secondary .poster {
    margin: 6px 22px;
    margin-bottom: 0;
}

.hints .hint-item .poster img {
    width: auto;
    height: 32px;
    border: 1px solid #ccc;
}

.hints .hint-item .poster {
    float: left;
}

.hints .hint-item .name {
    float: left;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 5px;
    
}

.hint-loading {
    text-align: center;

}

.hint-loading img {
    margin-top: 17px;
}

.hints .hint-item.item-secondary .name {
    padding-left: 3px;
}

.hints .hint-item.item-secondary .name {
    line-height: 30px;
    font-size: 12px;
}

.search .center {
  border: 1px solid #dedede;
  border-top: 0;
  border-bottom: 0;
  height: 50px;
  background: white;
}

.search input {
  border: 0;
  padding: 0;
  height: 50px;
  width: 760px;
  font-size: 35px;
  padding: 0 20px;
}

.search input:focus {
  outline: 0;
}

.movie {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  float: left;
}

.movie .logo {
  width: 127px;
  margin: 0 auto;
}

.movie .name {
  width: 200px;
  text-align: center;
  font-size: 20px;
}

.movie .cinema, .movie .dvd {
  display: block;
  margin-left: 40px;
  margin-top: 5px;
}

.movie .cinema:before, .movie .dvd:before {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.movie .cinema:before {
  content: url('/images/ticket.png');
}

.movie .dvd:before {
  content: url('/images/dvd.png');
}
