.form {
    width: 200px;
    margin: 50px auto;
}

.form label {
    font-size: 16px;
    color: #444;
    font-weight: bold;
}

.form input {
    padding: 5px;
    width: 186px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
}

.form input:focus {
    outline: none;
    border-color: black;
    border-width: 1px;
}

.form input[type="submit"] {
    width: 100px;
    background: white;
    border: 1px solid #aaa;

    margin-left: 43px;
}

.form-btn:hover, .login-btn:focus {
    border-color: black !important;
    background: #eee !important;
}