<div class="form">
  <%= form_for @changeset, account_path(@conn, :login_post), fn f -> %>
  <label>
    Uzivatelske jmeno
    <%= text_input f, :username %>
  </label>

  <label>
    Heslo
    <%= password_input f, :password %>
  </label>
     
  <%= submit "Prihlasit se" %>
  <%= end %>
</div>
